main {
  margin: 0 auto;
  max-width: 1000px;
  height: fit-content;
  padding: 0 50px;
}

.content {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

p {
  text-align: justify;
}

.content h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.content p {
  margin: 0;
  line-height: 1.8rem;
}
