---
import HeaderBand from "../components/HeaderBand.astro";
import Verse from "../components/Verse.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Content from "../layouts/Content.astro";
import Footer from "../layouts/Footer.astro";
import Date from "../components/Date.astro";
import Message from "../layouts/Message.astro";

//Aca ponemos las variables que queremos mostrar en la pagina
const description = "Capsulas Devocionales";
const tittleDevotional = "Job y la Confianza en Dios";
// const verse = "( Oseas 11:4-6 NVI )";
// const passage =
//   "Lo atraje con cuerdas de ternura, lo atraje con lazos de amor. Le quité de la cerviz el yugo y con cariño me acerqué para alimentarlo. »No volverá a tierra de Egipto y Asiria reinará sobre ellos, porque no quisieron volverse a mí. En sus ciudades se blandirán espadas, que destrozarán los barrotes de sus puertas y acabarán con sus planes.";
---

<MainLayout tittle={description}>
  <HeaderBand description={tittleDevotional} />
  <Content>
    <p>
      Hoy empieza una nueva etapa en mi vida, y quiero que juntos podamos vivir
      este proceso. He decidido tomar a Job como referencia porque conozco algo
      de la vida de este hombre de Dios, y veremos cómo tuvo que atravesar
      distintas pruebas en su vida pero nunca se apartó del Padre amado. Sin
      importar que perdiera todo lo que amaba, él siempre siguió alabando y
      bendiciendo a Dios.
    </p>
    <br />
    <p>
      Hoy en la mañana, mientras veía mis redes sociales, encontré una
      publicación de un jugador de baloncesto llamado Jaden Ivey. Este sufrió
      una grave lesión que lo llevó a pasar por el quirófano y perderse una gran
      parte de la temporada, algo doloroso para él porque es algo que disfruta
      verdaderamente hacer. Sin embargo, me llamó más la atención el mensaje que
      acompañaba la publicación de la noticia. Este mensaje decía que debemos
      confiar en Dios, más aún cuando enfrentamos pruebas inesperadas o
      consecuencias de malas decisiones en el pasado. Esto también me llevó a
      comenzar este estudio de la vida de Job.
    </p>
    <Verse
      verse="( Job 1: 1 NVI )"
      passage="En la región de Uz había un hombre recto e intachable, que temía a Dios y vivía apartado del mal. Este hombre se llamaba Job."
    />
    <p>
      Como podemos ver en este pasaje, Job era un hombre apartado para Dios.
      Vivía en santidad, y no solo él, sino que también enseñaba a sus hijos a
      ser fieles a Dios y a consagrar sus vidas para Él. Podemos ver que Dios
      premiaba su fidelidad porque la misma Palabra dice que Job era un hombre
      próspero y sus riquezas eran abundantes. No debemos pensar solo en lo
      material; debemos recordar que con Dios somos bendecidos en muchas formas.
      Él es el dador y consumidor de todo lo habido y por haber. Es quien da y
      quien quita. Muchas veces, cuando suceden cosas inexplicables, nos
      preguntamos: “¿Por qué a él, si era una buena persona?”. Pero no se trata
      de cómo los demás nos ven, sino de cómo Dios nos ve. Recibiremos bendición
      o castigo según nuestras obras. Más adelante veremos cómo Dios permitió
      que Job atravesara pruebas porque sabía la clase de hombre que era Job y
      que, pese a las dificultades, él seguiría exaltando Su nombre.
    </p>
    <Verse
      verse="( Job 1: 3-5 NVI )"
      passage="Era dueño de siete mil ovejas, tres mil camellos, quinientas yuntas de bueyes y quinientas asnas, y su servidumbre era muy numerosa. Entre todos los habitantes del oriente era el personaje de mayor renombre. Sus hijos acostumbraban turnarse para celebrar banquetes en sus respectivas casas e invitaban a sus tres hermanas a comer y beber con ellos. Una vez terminado el ciclo de los banquetes, Job se aseguraba de que sus hijos se purificaran. Muy de mañana ofrecía un holocausto por cada uno de ellos, pues pensaba: “Tal vez mis hijos hayan pecado y maldecido en su corazón a Dios”. Para Job esta era una costumbre cotidiana."
    />
    <p>
      En este pasaje también podemos analizar algo que para Dios es muy
      importante: honrar a nuestros padres. Los hijos de Job lo hacían al
      turnarse para realizar los banquetes e invitar a toda la familia. Dios nos
      llama a permanecer unidos como familia y hermanos, a honrar con nuestros
      bienes y recursos sus vidas.
    </p>
    <Verse
      verse="( Job 1: 8-11 NVI )"
      passage='"¿Te has puesto a pensar en mi siervo Job?", volvió a preguntarle el Señor. "No hay en la tierra nadie como él; es un hombre recto e intachable, que me honra y vive apartado del mal." Satanás replicó: "¿Y acaso Job te honra sin recibir nada a cambio? ¿Acaso no están bajo tu protección él y su familia y todas sus posesiones? De tal modo has bendecido la obra de sus manos que sus rebaños y ganados llenan toda la tierra. Pero extiende la mano y quítale todo lo que posee, ¡a ver si no te maldice en tu propia cara!'
    />
    <p>
      Aquí podemos ver el modo de actuar del enemigo, Satanás. Él está pendiente
      de nosotros al igual que Dios. La diferencia es que Satanás busca
      juzgarnos, hacernos caer en tentaciones y apartarnos del amor de Dios. En
      este caso, quería hacer eso con Job, argumentando que él solo alababa a
      Dios porque tenía todo lo necesario. Así que propuso hacerle perder todo
      para demostrar que Job maldeciría a quien lo había bendecido. Sin embargo,
      vemos cómo Dios permitió que esto ocurriera con un propósito. Nada se sale
      del control de Dios. Sabía que Job seguiría alabando Su nombre pese a las
      dificultades, y eso es a lo que estamos llamados: a alabar a Dios en los
      momentos buenos y también en los malos.
    </p>
    <Verse
      verse="( Job 1: 12 NVI )"
      passage='"Muy bien", le contestó el Señor. "Todas sus posesiones están en tus manos, con la condición de que a él no le pongas la mano encima." Dicho esto, Satanás se retiró de la presencia del Señor.'
    />
    <p>
      Aquí también vemos cómo Dios cuida cada día de nuestras vidas. Él se
      encarga de que nada malo nos pase, por eso es importante dar gracias cada
      día por permitirnos vivir un día más y pedir que podamos terminarlo bien.
    </p>
    <Verse
      verse="( Job 1: 20-22 NVI )"
      passage='Al llegar a este punto, Job se levantó, se rasgó las vestiduras, se rasuró la cabeza y luego se dejó caer al suelo en actitud de adoración. Entonces dijo: "Desnudo salí del vientre de mi madre, y desnudo he de partir. El Señor ha dado; el Señor ha quitado. ¡Bendito sea el nombre del Señor!" A pesar de todo esto, Job no pecó ni le echó la culpa a Dios.'
    />
    <p>
      Habiendo llegado a este punto, desde los versos 13 al 19, vemos cómo Job
      perdió absolutamente todo: sus riquezas y su familia. Esto llevó a Job a
      ser transformado. Lo más impactante de todo es que en ningún momento
      maldijo a Dios. Por el contrario, aceptó con dolor lo que había ocurrido y
      transformó su vida para seguir adelante. Hoy me quedo con una frase:
      "Desnudos salimos del vientre de nuestra madre". Sabemos que el día de ir
      con Dios nuestro Padre llegará. Debemos aceptar las pruebas que Dios nos
      pone en nuestras vidas porque todas, absolutamente todas, tienen un
      propósito. En los siguientes días veremos cómo Dios cumplió ese gran
      propósito que tenía con Job a través de esta dolorosa prueba.
    </p>
    <br />
    <Message />
    <br />
    <Date />
  </Content>
  <Footer />
</MainLayout>
