---
import HeaderBand from "../components/HeaderBand.astro";
import Content from "../layouts/Content.astro";
import Footer from "../layouts/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/posts.css";

const description = "Devocionales diarios";
---

<MainLayout tittle={description}>
  <HeaderBand description={description} />
  <div class="posts">
    <a href="/posts/job1" class="post">Post1</a>
    <a href="/posts/job2" class="post">Post2</a>
    <a href="/posts/job2" class="post">Post3</a>
    <a href="/posts/job2" class="post">Post4</a>
    <a href="/posts/job2" class="post">Post5</a>
  </div>
</MainLayout>
<Footer />
