---
import "../styles/navbar.css";
---

<nav>
  <ul>
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="/posts">Devocionales</a>
    </li>
    <li>
      <a href="/about">Sobre el blog</a>
    </li>
  </ul>
</nav>
