---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <p class="footer__text">
        © 2025 - Construido en Astro por Juan Sebastián Osorio Gómez
      </p>
    </div>
  </div>
</footer>
